.artifact-box {
    margin-bottom: 150px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.artifact-form {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    align-items: center;
}