.artifact-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.artifact-text {
    border-style: solid;
    border-color: black;
    word-wrap: break-word;
}

.artifact-link-box {
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    border-right-color: black;
    border-top-color: black;
    border-bottom-color: black;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.image-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-image {
    position: absolute;
    top: 75%;
    left: 44%;
}