.main-container{
    background-color: #F5F3EC;
}

.result-box{
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: auto;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.search-bar {
    max-width: auto;
    margin: auto;
    text-align: center;
    transform: translate(0%, 75%);
    padding-top: 40px;
    padding-bottom: 40px;
    width: 50%;
}