.loading-box {
    position:fixed;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 20%;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}